{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
{% trans "Error" %}
{% endblock %}

{% block title %}
{% trans "Error" %}
{% endblock %}


{% block one_page_layout %}
    class="no-js single-page-layout"
{% endblock %}

{% block navigation_header %}
<!-- HEADER -->
<header class="header">

    
    <h1>Johnny Doe</h1>
    <p>freelance graphic designer</p>
    
    <!-- NAV MENU -->
    <ul class="vs-nav">
        
        <!-- InstanceBeginEditable name="Menu-Content" -->
        
            <li><a href="/"><i title="go to home" class="icon-home-1 tooltip" data-tooltip-pos="right"></i></a></li>
            
        <!-- InstanceEndEditable -->
        
    </ul>
    <!-- NAV MENU -->
    
    <!-- SEARCH --> 
    <div class="header-search">
        <form role="search" method="get" id="search-form" action="#">
          <input type="text" value="" name="s" id="search" placeholder="ENTER KEYWORD">
          <input type="submit" id="search-submit" title="Search" value="→">
        </form>
    </div>
    <!-- SEARCH -->
    
</header>
<!-- HEADER -->
{% endblock %}

{% block main %}
<!-- .full-width-content -->
<div class="full-width-content">

    
    <!-- .hentry -->
    <article class="post hentry">
        

        <!-- .entry-content -->
        <div class="entry-content">
        
            <!-- .row-fluid -->
            <div class="row">
                
                <!-- col 12/12 -->
                <div class="col-md-12">
                    
                    <!-- http-alert -->
                    <div class="http-alert">
                        <h1>500</h1>
                        <p>{% trans "Sorry, an error occurred." %}</p>
                    </div>
                    <!-- http-alert -->
                
                </div>
                <!-- col 12/12 -->
                
            </div>
            <!-- .row-fluid -->
            
            
        </div>
        <!-- .entry-content -->
    
    </article>
    <!-- .hentry -->

</div>
<!-- .full-width-content -->
{% endblock %}
