{% load i18n staticfiles %}

<!-- .portfolio-single -->
<div class="portfolio-single">

    <!-- .row -->
    <div class="row">
        
        <!-- TITLE - column 8/12 -->
        <div class="col-md-8 portfolio-field portfolio-title">
            <h2>Projekt</h2>
        </div>
        <!-- TITLE - column 8/12 -->
        
        
        <!-- PORTFOLIO-NAV - column 4/12 -->
        <div class="col-md-4 portfolio-field portfolio-nav">
            <a class="icon button prev ajax" href="three"></a>
            <a class="icon button next ajax" href="one"></a>
            <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV - column 4/12 -->    
    
    </div>
    <!-- .row -->
    
    
    
    <!-- .row -->
    <div class="row">
        
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        <div class="col-md-8 portfolio-field">
            <img src="{% static 'images/portfolio/single/projekt.png' %}" alt="projekt">
            <img src="{% static 'images/portfolio/single/projekt2.png' %}" alt="projekt">
        </div>
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        
        
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->
        <div class="col-md-4 portfolio-field">
            
            <h3>Beskrivning</h3>
            <p>Fick i uppdrag att skapa ett delprojekt där nya studenter skulle lära sig att programmera legomindstorm robotar med hjälp av Python. Arbetsuppgifterna bestod av att skapa utmaningar att lösa i stigande svårighetsgrader och skriva användar och instruktionsmanualer. Samt hitta en lösning på hur robotarna kunde programmeras genom Python och se till att allt var multiplattform.</p>
            <p>Resultet kan ses i respektive API och övnings PDF:er</p>
            
            <h3>Klient</h3>
            <p>Linköpings universitet</p>
            
            <h3>Tekniker</h3>
            <ul class="tags">
                <li><a>Python</a></li>
                <li><a>Latex</a></li>
                <li><a>API</a></li>
                <li><a>Dokumentation</a></li>
            </ul>
            
            <div class="launch">
                <a href="#" class="button primary">Ladda ner Övningar PDF</a>
                <a href="#" class="button primary">Ladda ner API PDF</a>
            </div>
            
        </div>
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->    
    
    </div>
    <!-- .row -->
    
    
    <!-- .row -->
    <div class="row">
        
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
        <div class="col-md-12 portfolio-field portfolio-nav bottom">
            <a class="icon button prev ajax" href="three"></a>
            <a class="icon button next ajax" href="two"></a>
            <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->    
    
    </div>
    <!-- .row -->
    
    
    
</div>
<!-- .portfolio-single -->