{% extends "base.html" %}
{% load i18n staticfiles blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}


{% block main %}

<!-- PAGE : ABOUT -->
<section id="about" class="page">
    <div class="content">
    
        <!-- row -->
        <div class="row">
            
            <!-- column 8/12 -->
            <div class="col-md-8">
                
                <h2 class="section-title"><span><i class="icon-guest"></i>INTRO</span></h2>
                
                <!-- intro -->
                <div class="intro">
            
                    <h2 class="left-align">
                        
                        <span>Hej. Välkommen till min</span> 
                    
                        <span class="rotate-words">
                            <span>hemsida.</span>
                            <span>blogg.</span>
                            <span>resume.</span>
                        </span>
                    
                    </h2>

                         

                    <h2 class="left-align">   
                        Här hittar du mitt <a href="#/resume">cv (resume)</a>, <a href="/blog">blogg</a> och alla mina <a href="#/portfolio">projekt</a> jag jobbar på. 
                    </h2>

                        

                    <h2 class="left-align">
                        Jag kommer från Linköping och har de senaste åren pluggat <a href="http://www.liu.se/utbildning/program/innovativprog?l=sv">Innovativ programmering</a> på Linköpings universitet.
                        Jag är nu i slutet av min utbildning och är riktigt sugen på att ta klivit in i arbetslivet.
                    </h2>
                    
                      
                </div>
                <!-- intro -->
                
                
            </div>
            <!-- column 8/12 -->
            
            
            <!-- column 4/12 -->
            <div class="col-md-4">

                <h2 class="section-title"><span><i class="icon-guest"></i>KONTAKT</span></h2>
            


                <!-- LETTER -->
                <div class="letter">   

                    <div class="letter-info">
                        <p><i class="icon-at"></i>jonathan.doherty.work@gmail.com</p>
                        <p><i class="icon-phone"></i>Inkluderad i <a href="#/resume">CV</a></p>
                        <p><i class="icon-location"></i>Linköping, Sverige</p>
                    </div>
                    
                </div>    
                <!-- LETTER -->
                
            </div>
            <!-- column 4/12 -->
            
            
        </div>
        <!-- row -->
        
        
        
        <h2 class="section-title"><span class="superlambobros-icon"><img src="{% static 'images/about/avatar.png' %}" alt="portfolio-post"></span></h2>
                    
        <!-- SERVICES -->
        <div class="row">
            

            <!-- column 8/12 -->
            <div class="col-md-8">

                <!-- intro -->
                <div class="intro">

                    <h2 class="left-align">
                        Utöver skolan älskar jag att träna och lirar just nu fotboll i Linköpings bästa (korp) lag <strong>Super Lambo Bros</strong>.
                    </h2>

                </div>

            </div>
            <!-- column 8/12 -->
            
            <!-- column 4/12 -->
            <div class="col-md-4">

                <div class="media-box image">
                    <img src="{% static 'images/about/superlambobros2.jpg' %}" alt="portfolio-post">
                    <div class="mask">
                    
                        <!-- lightbox - image --> 
                        <a href="{% static 'images/about/superlambobros2.jpg' %}" title="Super Lambo Bros" data-lightbox-gallery="fancybox-item-01" class="lightbox" rel="fancybox-item-01"></a>
                        <!-- lightbox - image -->
                        
                    </div>
                </div>
                
            </div>
            <!-- column 4/12 -->

            
        </div>
        <!-- SERVICES -->
       
        
    </div>
</section>
<!-- PAGE : ABOUT -->


<!-- PAGE : PORTFOLIO -->
<section id="portfolio" class="portfolio page">
    <div class="content">
    
                     
        <h2 class="section-title center"><span><i class="icon-leaf"></i>PROJEKT</span></h2>
        
        <!--FILTERS-->
        <ul id="filters" class="filters">
          <li class="current"><a href="#" data-filter="*">ALLA</a></li>
          <li><a href="#" data-filter=".projekt">PROJEKT</a></li>
          <li><a href="#" data-filter=".exjobb">EXJOBB</a></li>
          <li><a href="#" data-filter=".hemsida">HEMSIDOR</a></li>
        </ul>
        <!--FILTERS-->
    
    
        <!-- PORTFOLIO -->
        <div class="portfolio-items media-grid" data-layout="masonry">
          
          
          <!-- portfolio-item -->  
          <div class="media-cell hemsida hentry">
            
            <div class="media-box">
                <img src="{% static 'images/portfolio/single/nmcs.png' %}" alt="portfolio-post">
                <div class="mask"></div>
                <a href="one" class="ajax"></a>
            </div>
            
            <div class="media-cell-desc">
                <h3>Nilssons MC Shop</h3>
                <p class="category">Hemsida</p>
            </div>
            
          </div>
          <!-- portfolio-item --> 
          
          <!-- portfolio-item -->  
          <div class="media-cell hemsida hentry">
          
            <div class="media-box">
                <img src="{% static 'images/portfolio/single/siam.png' %}" alt="portfolio-post">
                <div class="mask"></div>
                <a href="two" class="ajax"></a>
            </div>
            
            <div class="media-cell-desc">
                <h3>Siam Massage & Hälsospa</h3>
                <p class="category">Hemsida</p>
            </div>
            
          </div>
          <!-- portfolio-item --> 

          <!-- portfolio-item -->  
          <div class="media-cell exjobb hentry">
            <div class="media-box">
                <img src="{% static 'images/portfolio/single/xjobb.png' %}" alt="portfolio-post">
                <div class="mask">
                    <a href="three" class="ajax"></a>
                </div>
            </div>
            <div class="media-cell-desc">
                <h3>Exjobb</h3>
                <p class="category">Webbapplikation</p>
            </div>
          </div>
          <!-- portfolio-item -->                         

          <!-- portfolio-item -->  
          <div class="media-cell projekt hentry">
            <div class="media-box">
                <img src="{% static 'images/portfolio/single/projekt.png' %}" alt="portfolio-post">
                <div class="mask">
                    <a href="four" class="ajax"></a>
                </div>
            </div>
            <div class="media-cell-desc">
                <h3>Linköpings universitet</h3>
                <p class="category">Projekt</p>
            </div>
          </div>
          <!-- portfolio-item -->            

        </div>
        <!-- PORTFOLIO -->


    
    </div>
    <!-- CONTENT -->
    
</section>
<!-- PAGE : PORTFOLIO -->   


<!-- PAGE : RESUME -->
<section id="resume" class="page">
    <div class="content">
        <!-- CONTENT -->
                       
                        
        <!-- row -->
        <div class="row">
        
            
            <!-- col 6/12 -->
            <div class="col-md-6">
                          
                <!-- timeline -->
                <div class="timeline">
                
                    <h2><i class="fa fa-flask"></i>ARBETSLIVSERFARENHET</h2>
                    
                    <div class="event current">
                        <span class="date">2014</span>

                        <h4>Konsult</h4>
                        <h5>Linköping</h5>
                        <p>Arbetar med att utveckla hemsidor med hjälp av Django, Mezzanine och hostingplattformen Heroku.</p>

                        <br>

                        <h4>Exjobb</h4>
                        <h5>NILSSONS MC SHOP</h5>
                        <p>Syftet med exjobbet var att skapa ett system som digitaliserar och automatiserar pappersarbetet för en motorcykelverkstad och på så sätt eliminerar all onödig arbetstid som går åt till att leta fram, ta kopior och arkivera papper dagligen. Resultet blev ett webbaserat system som kan användas genom dator, surfplatta och mobila enheter.</p>

                    </div>
                    
                    
                    <div class="event">
                        <span class="date">2013</span>
                        <h4>Labbassistent</h4>
                        <h5>Linköping Universitet</h5>
                        <p>Skötte administration och rättning av det nya frågebatteriet jag skapade under 2013 och var labbassistent för kursen TDDD63 som jag skapade som Tekniker 2012. Arbetsuppgifterna bestod av att hjälpa och vägleda studenterna om problem uppstod samt rätta frågor/delprov varje vecka och betygsätta dem.</p>

                        <br>

                        <h4>Amanuens</h4>
                        <h5>Linköping Universitet</h5>
                        <p>Fick i uppdrag att lösa och genomföra hur man kunde ersätta nuvarande frågebatteri för TDDD63 som sköttes av en tredje part med ett eget frågebatteri som helst kunde integreras med Linköpings universitets nya system LISAM.</p>
                    </div>
                    
                    <div class="event">
                        <span class="date">2012</span>
                        <h4>Labbassistent</h4>
                        <h5>Linköping Universitet</h5>
                        <p>Hanterade rättningar för ett frågebatteri och var labbassistent för kursen TDDD63 som jag skapade som Tekniker 2012. Arbetsuppgifterna bestod av att hjälpa och vägleda studenterna om problem uppstod samt rätta frågor/delprov varje vecka och betygsätta dem.</p>

                        <br>

                        <h4>Tekniker</h4>
                        <h5>Linköping Universitet</h5>
                        <p>Fick i uppdrag att skapa ett delprojekt för kursen TDDD63 där studenter skulle lära sig att programmera legomindstorm robotar med hjälp av Python. Arbetsuppgifterna bestod av att skapa utmaningar att lösa i stigande svårighetsgrader och skriva användar- och instruktionsmanualer. Samt hitta en lösning på hur robotarna kunde programmeras genom Python och se till att allt var multiplattform.</p>
 
                    </div>
               
               </div>
               <!-- timeline -->
               
               
               <!-- timeline -->
               <div class="timeline">
                
                    <h2><i class="icon-college"></i>UTBILDNING</h2>
                    
                    <div class="event">
                        <span class="date">2014</span>
                        <h4>Kandidatexamen, Innovativ Programmering</h4>
                        <h5>Linköpings universitet</h5>
                        <p></p>
                    </div>

                    <div class="event">
                        <span class="date">2009</span>
                        <h4>Fristående kurser, Kognitionsvetenskap</h4>
                        <h5>Linköpings universitet</h5>
                        <p></p>
                    </div>                    
                    
                    <div class="event">
                        <span class="date">2007</span>
                        <h4>Samhällsvetenskaplig linje med ekonomisk inriktning</h4>
                        <h5>Katedralskolan, Linköping</h5>
                        <p></p>
                    </div>
               
               </div>
               <!-- timeline -->
               
              
            </div> 
            <!-- col 6/12 -->
               
               
               
                <!-- col 6/12 -->
                <div class="col-md-6">
                    
                    <h2 class="section-title"><span><i class="icon-doc-alt"></i>LADDA NER CV</span></h2>
                    
                    <p>Ladda gärna ner mitt CV i PDF format.</p>
                    
                    <!-- DOWNLOAD BUTTON -->
                    <div class="download-button">
                        <a href="{% static 'pdf/CV.pdf' %}" class="button primary">LADDA NER CV</a>
                    </div>
                    <!-- DOWNLOAD BUTTON -->
                    
                    
                    <h2 class="section-title"><span><i class="icon-linkedin"></i>KOLLA IN MIN LINKEDIN PROFIL</span></h2>
                    
                    <p>Jag finns även på linkedin.</p>
                    
                    <!-- DOWNLOAD BUTTON -->
                    <div class="download-button">
                        <a href="#" class="button primary">LINKEDIN PROFIL</a>
                    </div>
                    <!-- DOWNLOAD BUTTON -->
 
                </div>
                 <!-- col 6/12 -->
        
        
        </div>                       
        <!-- row -->                   
                            
                           
                            
                        
    </div>
    <!-- CONTENT -->
    
</section>
<!-- PAGE : RESUME -->                
                

             
{% endblock %}



                    
                    
                    
