{% load i18n staticfiles %}

<!-- .portfolio-single -->
<div class="portfolio-single">
    
    
    
    
    <!-- .row -->
    <div class="row">
        
          <!-- TITLE - column 8/12 -->
          <div class="col-md-8 portfolio-field portfolio-title">
              <h2>PAPER iPAD APP</h2> 
          </div>
          <!-- TITLE - column 8/12 -->
            
          <!-- PORTFOLIO-NAV - column 4/12 -->
          <div class="col-md-4 portfolio-field portfolio-nav">
              <a class="icon button prev ajax" href="two"></a>
              <a class="icon button next ajax" href="one"></a>
              <a class="button back" href="#/portfolio"></a>
          </div>
          <!-- PORTFOLIO-NAV - column 4/12 -->
    
    </div>
    <!-- .row -->
    
    
    
    <!-- .row -->
    <div class="row">
        
          <!-- PORTFOLIO-IMAGES - column 12/12 -->
          <div class="col-md-12 portfolio-field">
              <img src="{% static 'images/portfolio/single/single-01.png' %}" alt="project">
          </div>
          <!-- PORTFOLIO-IMAGES - column 12/12 -->
        
    </div>
    <!-- .row -->
    
    
    
    <!-- .row -->
    <div class="row">
        
          <!-- PORTFOLIO-DESCRIPTION - column 6/12 -->
          <div class="col-md-6 portfolio-field">
            
              <h3>Beskrivning</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. And also it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="launch">
                <a href="#" class="button primary">LAUNCH PROJECT</a>
            </div>
                
          </div>
          <!-- PORTFOLIO-DESCRIPTION - column 6/12 -->
            
            
          <!-- PORTFOLIO-DESCRIPTION - column 4/12 -->
          <div class="col-md-4 portfolio-field">
                
              <h3>Tekniker</h3>
              <ul class="tags">
                  <li><a>HTML 5</a></li>
                  <li><a>CSS 3</a></li>
                  <li><a>jQuery</a></li>
                  <li><a>Responsive Design</a></li>
                  <li><a>PHP</a></li>
              </ul>
                
          </div>
          <!-- PORTFOLIO-DESCRIPTION - column 4/12 -->
            
            
          <!-- PORTFOLIO-DESCRIPTION - column 3/12 -->
          <div class="col-md-2 portfolio-field">
            
              <h3>Klient</h3>
              <p>Apple Inc.</p>
                
          </div>
          <!-- PORTFOLIO-DESCRIPTION - column 3/12 -->
        
    </div>
    <!-- .row -->
    
    
    <!-- .row -->
    <div class="row">
        
          <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
          <div class="col-md-12 portfolio-field portfolio-nav bottom">
              <a class="icon button prev ajax" href="two"></a>
              <a class="icon button next ajax" href="one"></a>
              <a class="button back" href="#/portfolio"></a>
          </div>
          <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
    
    </div>
    <!-- .row -->
    
    
    
</div>
<!-- .portfolio-single -->