{% load i18n staticfiles %}

<!-- .portfolio-single -->
<div class="portfolio-single">
    
    
    
    
    <!-- .row -->
    <div class="row">
        
          <!-- TITLE - column 8/12 -->
          <div class="col-md-8 portfolio-field portfolio-title">
              <h2>Webbapplikation</h2> 
          </div>
          <!-- TITLE - column 8/12 -->
            
          <!-- PORTFOLIO-NAV - column 4/12 -->
          <div class="col-md-4 portfolio-field portfolio-nav">
              <a class="icon button prev ajax" href="two"></a>
              <a class="icon button next ajax" href="four"></a>
              <a class="button back" href="#/portfolio"></a>
          </div>
          <!-- PORTFOLIO-NAV - column 4/12 -->

    </div>
    <!-- .row -->
    
    <!-- .row -->
    <div class="row">
        
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        <div class="col-md-8 portfolio-field">
            <img src="{% static 'images/portfolio/single/xjobb.png' %}" alt="projekt">
            <img src="{% static 'images/portfolio/single/NF3.png' %}" alt="projekt">
            <img src="{% static 'images/portfolio/single/process.png' %}" alt="projekt">
        </div>
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->
        <div class="col-md-4 portfolio-field">
            
            <h3>Beskrivning</h3>
            <p>Detta exjobb beskriver skapandet av ett system från grunden som digitaliserar och automatiserar allt pappersarbete för en motorcykelverkstad och på så sätt eliminerar all onödig arbetstid som går åt till att leta fram, ta kopior och arkivera papper dagligen.</p>
            <p>Resultatet är ett webbaserat system som kan användas genom dator, surfplatta och mobila enheter. Med funktionalitet för att söka, lägga till, ta bort, modifiera, skriva ut och hitta kunder, motorcyklar, serviceprotokoll och arbetsordrar där moms, kostnader och priser beräknas automatiskt.</p>
            <p>Systemet utvecklades med ramverket Django på serversidan och använder sig av en MySQL databas för att lagra data medan klientsidan utvecklades med ramverket Bootstrap. För att uppnå målen användes bland annat metoder så som intervjuer, wireframes, entitets-sambands-diagram och normalisering.</p>
            
            <h3>Klient</h3>
            <p>Linköpings universitet</p>
            
            <h3>Tekniker</h3>
            <ul class="tags">
                <li><a>Python</a></li>
                <li><a>Django</a></li>
                <li><a>Bootstrap</a></li>
                <li><a>MySQL</a></li>
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
                <li><a>Git</a></li>
                <li><a>Wireframes</a></li>
                <li><a>Normalisering</a></li>
                <li><a>ERD</a></li>
                <li><a>PDF</a></li>
            </ul>
            
            <div class="launch">
                <a href="{% static 'pdf/exjobb.pdf' %}" class="button primary">Ladda ner PDF</a>
            </div>
            
        </div>
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->    
    
    </div>
    <!-- .row -->    
        
    
    <!-- .row -->
    <div class="row">
        
          <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
          <div class="col-md-12 portfolio-field portfolio-nav bottom">
              <a class="icon button prev ajax" href="two"></a>
              <a class="icon button next ajax" href="one"></a>
              <a class="button back" href="#/portfolio"></a>
          </div>
          <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->

    </div>
    <!-- .row -->
    
    
    
</div>
<!-- .portfolio-single -->