{% load i18n staticfiles %}

<!-- .portfolio-single -->
<div class="portfolio-single">
    
    
    <!-- .row -->
    <div class="row">
        
        <!-- TITLE - column 8/12 -->
        <div class="col-md-8 portfolio-field portfolio-title">
          <h2>Hemsida</h2>
        </div>
        <!-- TITLE - column 8/12 -->
        
        
        <!-- PORTFOLIO-NAV - column 4/12 -->
        <div class="col-md-4 portfolio-field portfolio-nav">
          <a class="icon button prev ajax" href="one"></a>
          <a class="icon button next ajax" href="three"></a>
          <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV - column 4/12 -->
    
    </div>
    <!-- .row -->
    
    
    
    <!-- .row -->
    <div class="row">

        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        <div class="col-md-8 portfolio-field">
          <img src="{% static 'images/portfolio/single/siam.png' %}" alt="projekt">
          <img src="{% static 'images/portfolio/single/arkitektur.png' %}" alt="projekt">
        </div>
        <!-- PORTFOLIO-IMAGES - column 8/12 -->

        
        
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->
        <div class="col-md-4 portfolio-field">
            
            
          <h3>Beskrivning</h3>
            
          <p>Kunden ville ha en simpel hemsida som enkelt informerade kunden om deras tjänster.</p>
            
          <h3>Klient</h3>
            
          <p>Siam Massage & Hälsospa</p>
            
          <h3>Tekniker</h3>
          <ul class="tags">
              <li><a>Python</a></li>
              <li><a>Django</a></li>
              <li><a>Bootstrap</a></li>
              <li><a>Mezzanine</a></li>
              <li><a>Heroku</a></li>
              <li><a>Postgresql</a></li>
              <li><a>HTML</a></li>
              <li><a>CSS</a></li>
              <li><a>JavaScript</a></li>
              <li><a>Git</a></li>
          </ul>
            
          <div class="launch">
              <a href="http://www.siam-massage.se/" class="button primary">Kolla hemsidan live</a>
          </div>
            
            
        </div>
        <!-- PORTFOLIO SIDEBAR - column 4/12 --> 
    
    </div>
    <!-- .row -->
    
    
    <!-- .row -->
    <div class="row">
        
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
        <div class="col-md-12 portfolio-field portfolio-nav bottom">
          <a class="icon button prev ajax" href="one"></a>
          <a class="icon button next ajax" href="three"></a>
          <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->  
    
    </div>
    <!-- .row -->

    
    
</div>
<!-- .portfolio-single -->