.left-align {
    text-align: left;
}

.superlambobros-icon {
    width: 10%;
}

.superlambobros-icon img {
    min-width: 39px;
    min-height: 39px;
}

.vs-nav-custom i {
    font-size: 17px;
    display: inline-block;
    width: 58px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    color: #6A7686;
    border: 1px solid #C8D3D6;
    background: #fff;
    margin-top: 6px;
}

.vs-nav-custom a {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: #fff;
    letter-spacing: -3px;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.7em;
}

.vs-nav-custom a:hover, .vs-nav-custom a:active {
    color: #D0DADC;
}

.custom-search-alert {
    margin-top: 10px;
}

.custom-testo {
    position: relative;
    padding: 1.4em 2.2em;
    margin: 60px 16px 40px 0;
    background: #EFF4F5;
    border-radius: 6px;
}

.custom-title h1 {
    font-family: Shadows Into Light, Arial, serif;
    font-size: 6.0em;
    margin: 0px;
    margin-top: 0.40em;
}


@media screen and (max-width: 991px) { 
    .vs-nav-custom a {
        font-size: 2.4em
    }
    .custom-title h1 {
        font-size: 4.0em
    }
}

/* SMARTPHONES */
@media screen and (max-width: 767px) { 
    .vs-nav-custom a {
        width: auto;
        font-size: 130%;
        letter-spacing: -1px;
        color: #333;
    }
    .custom-title h1 {
        font-size: 3.0em
    }
}

.letter-info {
    margin-left: 0px;
}