{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}


{% block one_page_layout %}
    class="no-js single-page-layout"
{% endblock %}

{% block navigation_header %}
<!-- HEADER -->
<header class="header">

    
    <h1>Johnny Doe</h1>
    <p>freelance graphic designer</p>
    
    <!-- NAV MENU -->
    <ul class="vs-nav">
        
        <!-- InstanceBeginEditable name="Menu-Content" -->
        
            <li><a href="/blog"><i title="back to blog" class="icon-left-open tooltip" data-tooltip-pos="left"></i></a></li>
            <li><a href="/"><i title="go to home" class="icon-home-1 tooltip" data-tooltip-pos="right"></i></a></li>
        
        <!-- InstanceEndEditable -->
        
    </ul>
    <!-- NAV MENU -->
    
    <!-- SEARCH --> 
    <div class="header-search">

        {% search_form "all" %}

    </div>
    <!-- SEARCH -->
    
</header>
<!-- HEADER -->
{% endblock %}



{% block main %}

<!-- .blog-single -->
<div class="readable-content blog-single ">

    <!-- .hentry -->
    <article class="post type-post format-standard hentry">


        <!-- .entry-header -->
        <header class="entry-header">

            <h1 class="entry-title">{{ blog_post.title }}</h1>

        </header>
        <!-- .entry-header -->


        <!-- .entry-meta -->
        <div class="entry-meta">

            {% block blog_post_detail_postedby %}
            {% editable blog_post.publish_date %}
            <span class="posted-by"> 
                by
                {% with blog_post.user as author %}
                <a class="url fn n" href="{% url "blog_post_list_author" author %}" title="View all posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
                {% endwith %}
            </span>

            <span class="posted-on">
                on 
                {% blocktrans with sometime=blog_post.publish_date|date:"P" %}
                <a href="#" title="{{ sometime }}" rel="bookmark">
                {% endblocktrans %}
                    {% blocktrans with sometime=blog_post.publish_date|date %}
                    
                    {% endblocktrans %}

                    {% blocktrans with sometime=blog_post.publish_date|date:"M d" %}
                        {{ sometime }}

                    {% endblocktrans %}
                    ,
                    {% blocktrans with sometime=blog_post.publish_date|date:"Y" %}
                        {{ sometime }}
                    {% endblocktrans %} 
                </a>
            </span>

            <!--<span class="posted-in">
                posted in 
                <a href="#" title="View all posts in Web Design">Web Design</a>
            </span>-->

            {% endeditable %}
            {% endblock %}
            
            <!--<span class="edit-link">
                <a class="post-edit-link" href="#" title="Edit Post">Edit</a>
            </span>-->
            
        </div>
        <!-- .entry-meta -->
 

        {% block blog_post_detail_featured_image %}
        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        <!-- .featured-image --> 
        <div class="featured-image">
            <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 500 500 %}" alt="blog-image">
        </div>
        <!-- .featured-image --> 
        {% endif %}
        {% endblock %}



        {% block blog_post_detail_content %}
        {% editable blog_post.content %}
        <!-- .entry-content --> 
        <div class="entry-content">         
            {{ blog_post.content|richtext_filters|safe }}
        </div>
        <!-- .entry-content -->
        {% endeditable %}
        {% endblock %}


        {% block blog_post_detail_related_posts %}
        {% if blog_post.related_posts.all %}
        <!-- .related-posts -->
        <div class="related-posts">
            <h3>{% trans 'RELATED POSTS' %}</h3>
            <ol>
            {% for post in blog_post.related_posts.all %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
        <!-- .related-posts --> 
        {% endif %}
        {% endblock %}


     

        {% block blog_post_detail_keywords %}
        {% keywords_for blog_post as tags %}
        {% if tags %}
        {% spaceless %}
        <!-- .entry-meta -->
        <footer class="entry-meta">
            <h3>{% trans "TAGS" %}</h3>
            {% for tag in tags %}
            <a href="{% url "blog_post_list_tag" tag.slug %}" rel="tag">{{ tag }}</a>
            {% endfor %}
        </footer>
        <!-- .entry-meta -->   
        {% endspaceless %}
        {% endif %}
        {% endblock %}

    </article>
    <!-- .hentry -->



        {% block blog_post_previous_next %}
        <!-- .nav-single -->
        <nav class="nav-single row">
            {% with blog_post.get_previous_by_publish_date as previous %}
            {% if previous %}
            <div class="nav-previous col-sm-6">
                <h4>PREVIOUS POST</h4>
                <a href="{{ previous.get_absolute_url }}" rel="prev">&larr; {{ previous }}</a>
            </div>
            {% endif %}
            {% endwith %}

            {% with blog_post.get_next_by_publish_date as next %}
            {% if next %}
            <div class="nav-next col-sm-6">
                <h4>NEXT POST</h4>
                <a href="{{ next.get_absolute_url }}" rel="next">{{ next }} &rarr;</a>
            </div>
            {% endif %}
            {% endwith %}
        </nav>
        <!-- .nav-single --> 
        {% endblock %}

</div>
<!-- .blog-single --> 

{% endblock %}
