<!-- PAGE : ABOUT -->
<section id="about" class="page">
    <div class="content">
    
        <!-- row -->
        <div class="row">
            
            <!-- column 8/12 -->
            <div class="col-md-8">
                
                <h2 class="section-title"><span><i class="icon-guest"></i>INTRO</span></h2>
                
                <!-- intro -->
                <div class="intro">
            
                    <h2>
                        
                        <span class="center">Hej. Välkommen till min</span> 
                    
                        <span class="rotate-words">
                            <span>hemsida.</span>
                            <span>blogg.</span>
                            <span>resume.</span>
                        </span>
                    
                    </h2>

                         

                    <h2 class="left-align">   
                        Här hittar du mitt <a href="#/resume">cv (resume)</a>, <a href="#/blog">blogg</a> och alla mina <a href="#/portfolio">projekt</a> jag jobbar på. 
                    </h2>

                        

                    <h2 class="left-align">
                        Jag kommer från Linköping och har de senaste åren pluggat <a href="http://www.liu.se/utbildning/program/innovativprog?l=sv">Innovativ programmering</a> på Linköpings universitet.
                        Jag är nu i slutet av min utbildning och är riktigt sugen på att ta klivit in i arbetslivet.
                    </h2>
                    
                      
                </div>
                <!-- intro -->
                
                
            </div>
            <!-- column 8/12 -->
            
            
            <!-- column 4/12 -->
            <div class="col-md-4">

                <h2 class="section-title"><span><i class="icon-guest"></i>KONTAKT</span></h2>
            
                <!-- LETTER -->
                <div class="letter">
                    
                    <h4 class="letter-title">Jonathan Doherty</h4>
                    
                    <div class="stamp">
                      <img src="{% static 'images/site/stamp-image.png' %}" alt="stamp">
                    </div>
                  
                    <div class="letter-info">
                        <p><i class="icon-at"></i>jonatan.doherty.work@gmail.com</p>
                        <p><i class="icon-phone"></i>076 777 41 64</p>
                        <p><i class="icon-location"></i>Linköping, Sverige</p>
                    </div>
                    
                </div>    
                <!-- LETTER -->
                
            </div>
            <!-- column 4/12 -->
            
            
        </div>
        <!-- row -->
        
        
        
        <h2 class="section-title"><span class="superlambobros-icon"><img src="{% static 'images/about/avatar.png' %}" alt="portfolio-post"></span></h2>
                    
        <!-- SERVICES -->
        <div class="row">
            

            <!-- column 8/12 -->
            <div class="col-md-8">

                <!-- intro -->
                <div class="intro">

                    <h2 class="left-align">
                        Utöver skolan älskar jag att träna och lirar just nu fotboll i Linköpings bästa (korp) lag <strong>Super Lambo Bros</strong>.
                    </h2>

                </div>

            </div>
            <!-- column 8/12 -->
            
            <!-- column 4/12 -->
            <div class="col-md-4">

                <div class="media-box image">
                    <img src="{% static 'images/about/superlambobros2.jpg' %}" alt="portfolio-post">
                    <div class="mask">
                    
                        <!-- lightbox - image --> 
                        <a href="{% static 'images/about/superlambobros2.jpg' %}" title="Super Lambo Bros" data-lightbox-gallery="fancybox-item-01" class="lightbox" rel="fancybox-item-01"></a>
                        <!-- lightbox - image -->
                        
                    </div>
                </div>
                
            </div>
            <!-- column 4/12 -->

            
        </div>
        <!-- SERVICES -->
       
        
    </div>
</section>
<!-- PAGE : ABOUT --> 