
<!-- PAGE : PORTFOLIO -->
<section id="portfolio" class="portfolio page">
    <div class="content">
    
                     
        <h2 class="section-title center"><span><i class="icon-leaf"></i>MY WORKS</span></h2>
        
        <!--FILTERS-->
        <ul id="filters" class="filters">
          <li class="current"><a href="#" data-filter="*">ALLA</a></li>
          <li><a href="#" data-filter=".design">KODNING</a></li>
          <li><a href="#" data-filter=".coding">EXJOBB</a></li>
          <li><a href="#" data-filter=".logo">LOGO</a></li>
          <li><a href="#" data-filter=".school">SKOLA</a></li>
        </ul>
        <!--FILTERS-->
    
    
    
        <!-- PORTFOLIO -->
        <div class="portfolio-items media-grid" data-layout="masonry">
          
          
          <!-- portfolio-item -->  
          <div class="media-cell design hentry">
            
            <div class="media-box">
                <img src="{% static 'images/portfolio/01.png' %}" alt="portfolio-post">
                <div class="mask"></div>
                <a href="one" class="ajax"></a>
            </div>
            
            <div class="media-cell-desc">
                <h3>Hemsida 1</h3>
                <p class="category">an illustration work</p>
                <h4>TEKNIKER</h4>
                <ul class="tags">
                    <li><a>Django</a></li>
                    <li><a>Bootstrap</a></li>
                    <li><a>Mezzanine</a></li>
                    <li><a>Heroku</a></li>
                </ul>
            </div>
            
          </div>
          <!-- portfolio-item --> 
          
          
          <!-- portfolio-item -->  
          <div class="media-cell coding hentry">
          
            <div class="media-box">
                <img src="{% static 'images/portfolio/02.png' %}" alt="portfolio-post">
                <div class="mask"></div>
                <a href="two" class="ajax"></a>
            </div>
            
            <div class="media-cell-desc">
                <h3>Hemsida 2</h3>
                <p class="category">an illustration work</p>
                <h4>TEKNIKER</h4>
                <ul class="tags">
                    <li><a>Django</a></li>
                    <li><a>Bootstrap</a></li>
                    <li><a>Mezzanine</a></li>
                    <li><a>Heroku</a></li>
                </ul>
            </div>
            
          </div>
          <!-- portfolio-item --> 

          
           <!-- portfolio-item -->  
          <div class="media-cell logo hentry">
            <div class="media-box">
                <img src="{% static 'images/portfolio/04.png' %}" alt="portfolio-post">
                <div class="mask">
                    <a href="three" class="ajax"></a>
                </div>
            </div>
            <div class="media-cell-desc">
                <h3>Behind The Eyes</h3>
                <p class="category">an illustration work</p>
                <h4>TEKNIKER</h4>
                <ul class="tags">
                    <li><a>Django</a></li>
                    <li><a>Bootstrap</a></li>
                    <li><a>Mezzanine</a></li>
                    <li><a>Heroku</a></li>
                    <li><a>Semestervikariet</a></li>
                    <li><a>Barista</a></li>
                    <li><a>Erfarenhet av programmeringspråk</a></li>
                    <li><a>Operativ system</a></li>
                    <li><a>Samma årtal på labbassistent</a></li>
                    <li><a>Lite kortare exjobb del eventuellt</a></li>
                    <li><a>Lite kortare exjobb del eventuellt</a></li>
                </ul>
            </div>
          </div>
          <!-- portfolio-item -->                         
          

        </div>
        <!-- PORTFOLIO -->


    
    </div>
    <!-- CONTENT -->
    
</section>
<!-- PAGE : PORTFOLIO -->   